body{
    background-color: black;
}
.bg{
    width: 1520px;
    height: 100%;
    background-image: url("bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;
    background-position: center;
    position: fixed;
    top: 0;
}
.buttons {
  width: 240px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px #444444;
  border-radius: 5px;
  font-family: monospace;
  z-index: 100;
}
.buttons a{
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      color: hsl(0, 0%, 100%);
      opacity: .4;
}
input[type="button"]{
      display: none;
      width: 0;
}
.buttons a:hover{
      opacity: 1;
      color: rgb(255, 255, 255);
}
.projects{
    width: 1000px;
    height: 2500px;
    display: flex;
    position: relative;
    top: 30px;
    left: 350px;
    border: none;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}
#projects{
    font-size: 40px;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
    margin-left: 400px;
    margin-top: 10px;
    filter: drop-shadow(2px 2px 5px rgb(15, 23, 75));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #Signup_and_Internship_Forms{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 100px;
    position: absolute;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #Signup_and_Internship_Forms_text{
    font-size: 20px;
    margin-left: 230px;
    margin-top: 140px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
#internship_form_image{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 200px;
}
#Signup_form_image{
  width: 200px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 500px;
}
#check_this1{
  font-size: 20px;
    margin-left: 230px;
    margin-top: 250px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#code1{
  font-size: 20px;
    margin-left: 50px;
    margin-top: 250px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
    border: solid;
    border-radius: 20px;
    border-color: aquamarine;
    padding: 5px 5px 5px 5px;
}
#Signup_and_Login_pages{
  font-size: 20px;
  margin-left: 50px;
  margin-top: 660px;
  position: absolute;
  color: rgb(0, 242, 255);
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#Signup_and_Login_pages_text1{
  font-size: 20px;
  margin-left: 230px;
  margin-top: 700px;
  position: absolute;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#project_overview{
  font-size: 20px;
  margin-left: 230px;
  margin-top: 740px;
  position: absolute;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#Signup_and_Login_pages_text2{
  font-size: 20px;
  margin-left: 230px;
  margin-top: 770px;
  position: absolute;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#technologies_used{
  font-size: 20px;
  margin-left: 230px;
  margin-top: 810px;
  position: absolute;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#login_page_image{
  width: 250px;
  height: 300px;
  position: absolute;
  top: 980px;
  left: 500px;
}
#signup_page_image{
  width: 250px;
  height: 300px;
  position: absolute;
  top: 980px;
  left: 200px;
}
#check_this2{
  font-size: 20px;
    margin-left: 230px;
    margin-top: 910px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#code2{
  font-size: 20px;
    margin-left: 50px;
    margin-top: 910px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
    border: solid;
    border-radius: 20px;
    border-color: aquamarine;
    padding: 5px 5px 5px 5px;
}
#portfolio_website{
  font-size: 20px;
  margin-left: 50px;
  margin-top: 1350px;
  position: absolute;
  color: rgb(0, 242, 255);
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#portfolio_website_text1{
  font-size: 20px;
  margin-left: 230px;
  margin-top: 1380px;
  position: absolute;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#portfolio_website_text2{
  font-size: 20px;
  margin-left: 230px;
  margin-top: 1450px;
  position: absolute;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#check_this3{
  font-size: 20px;
    margin-left: 230px;
    margin-top: 1600px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
}
#code3{
  font-size: 20px;
    margin-left: 50px;
    margin-top: 1600px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
    border: solid;
    border-radius: 20px;
    border-color: aquamarine;
    padding: 5px 5px 5px 5px;
}
#portfolio_website_image{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 1650px;
  left: 200px;
  border: outset;
  border-color: azure;
}