body{
    background-color: rgb(16, 16, 15);
}
.bg{
  width: 1520px;
  height: 100%;
  background-image: url("bg1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 90%;
  background-position: center;
  position: fixed;
  top: 0;
}
.text{
    width: 1000px;
    height: 980px;
    display: flex;
    position: relative;
    top: 30px;
    left: 350px;
    border: none;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}
.buttons {
  width: 240px;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px #444444;
  border-radius: 5px;
  font-family: monospace;
  z-index: 100;
}
.buttons a{
      text-decoration: none;
      font-size: 24px;
      font-weight: 700;
      color: hsl(0, 0%, 100%);
      opacity: .4;
}
input[type="button"]{
      display: none;
      width: 0;
}
.buttons a:hover{
      opacity: 1;
      color: rgb(255, 255, 255);
}
  #Skills{
    font-size: 40px;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
    margin-left: 400px;
    margin-top: 10px;
    filter: drop-shadow(2px 2px 5px rgb(15, 23, 75));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #electrical_engineering{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 80px;
    position: absolute;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #electrical_engineering_text{
    font-size: 20px;
    margin-left: 250px;
    margin-top: 85px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #web_development{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 220px;
    position: absolute;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #web_development_text{
    font-size: 20px;
    margin-left: 250px;
    margin-top: 225px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #Python{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 400px;
    position: absolute;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  
  }
  #Python_text{
    font-size: 20px;
    margin-left: 250px;
    margin-top: 405px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #web_scraping{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 600px;
    position: absolute;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #web_scraping_text{
    font-size: 20px;
    margin-left: 250px;
    margin-top: 605px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #microsoft_office{
    font-size: 20px;
    margin-left: 70px;
    margin-top: 800px;
    position: absolute;
    color: rgb(0, 242, 255);
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
  #microsoft_office_text{
    font-size: 20px;
    margin-left: 250px;
    margin-top: 805px;
    position: absolute;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(9, 7, 105);
  }
 @media screen and (max-width: 1000px) {
    .text{
      top: 400px;
    }
  }
